.cta {
    border-radius: 0.375rem;

    padding: 0.75rem 2rem;

    text-decoration: none;
    font-weight: 700;
}

.normal {
    background: #e03344;
    color: white;
}

.normal:hover {
    background-color: #c31d2e;
}

.alt {
    background: white;
    color: #e03344;
}

.alt:hover {
    background: #e6e6e6;
}