.grid {
    width: 100%;
    max-width: 192rem;

    display: grid;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 2.5rem;
}

.grid div {
    min-height: 10rem;

    border: solid 2px red;
}