.grid {
    width: 100%;
    max-width: 192rem;

    display: grid;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 2.5rem;
}

@media only screen and (max-width: 769px) {
    .grid {
        grid-template-columns: 100%;
    }
}